.footer__container {
    display: grid;
    row-gap: 2.5rem;
    position: relative;
  }

  @media screen and (min-width: 767px) {
    .footer__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 1040px) {
    .footer__container {
      grid-template-columns: repeat(4, max-content);
      justify-content: space-between;
    }
  }