.footer {
  position: relative;
  overflow: hidden;
}

.footer .shape__big,
.footer .shape__small {
  position: absolute;
}

.footer .shape__big {
  width: 300px;
  height: 300px;
  left: -12rem;
  top: 6rem;
}

.footer .shape__small {
  right: -13rem;
  bottom: -6rem;
}