.home__car-icon {
    background-color: var(--container-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    margin-bottom: .75rem;
  }

  @media screen and (min-width: 1040px) {
    .home__car-icon {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }