.featured__item {
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  padding: .75rem;
  border-radius: .75rem;
  background-color: var(--container-color);
  color: var(--white-color);
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: .3s;
}

.featured__item img {
  width: 1.5rem;
}

.featured__item span,
.featured__item img {
  opacity: .3s;
  transition: .3s;
}

.featured__item:hover {
  background-color: var(--first-color);
}

.featured__item:hover span,
.featured__item:hover img {
  opacity: 1;
}

@media screen and (min-width: 1040px) {
  .featured__item {
    width: 52px;
    height: 52px;
  }
}